body {
  height: 100vh;
  width: 100vw;
  background: #F3F5F7;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: 15.65rem;
  padding: 0 1.5rem;
  background: linear-gradient(90deg, #574AE8 0%, #3EA1DB 100%);
}

header>div {
  max-width: 56.25rem;
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-self: center;
}

span {
  font-family: 'Lexend Deca';
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.875rem;
  color: #FFF;
}

div.input-container {
  display: flex;
  width: 100%;
  margin-top: 3.93rem;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.2);
  padding: 5px 21px;
}

input {
  height: 4rem;
  width: 100%;
  border-radius: 5px;
  background: transparent;
  border: none;
  padding-left: 1rem;
}

::placeholder, input[type="text"] {
  font-size: 1.125rem;
  font-weight: 500;
  font-family: 'Inter';
  line-height: 1.375rem;
  opacity: 0.5;
  color: #FFF;
  font-style: normal;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1.2rem;
  gap: 3.12rem;
  max-width: 90rem;
  margin: 6.25rem auto;
  width: 100%;
}

article {
  max-width: 56.25rem;
  width: 100%;
  background: #FFF;
  box-shadow: 0px 0px 10px rgba(19, 19, 31, 0.05);
  border-radius: 5px;
  padding: 1.56rem;
}

div.date {
  display: flex;
  justify-content: space-between;
  align-self: center;
  margin-bottom: 1.25rem;
}

div.date>span {
  color: #b6b6b6;
  font-family: 'Lexend Deca';
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.25rem;
}

div.content>h2 {
  font-size: 1.62rem;
  line-height: 2rem;
  font-family: 'Lexend Deca';
  font-style: normal;
  font-weight: normal;
  color: #313131;
  margin-bottom: 0.5rem;
}

div.content>p {
  font-size: 1.125rem;
  line-height: 2rem;
  font-family: 'Lexend Deca';
  font-style: normal;
  font-weight: normal;
  color: #b6b6b6;
}

@media screen and (max-width: 720px) {
  section {
    gap: 1.56rem;
    margin: 3.125rem auto;
  }
}